# Secret key for JWT tokens
SECRET_KEY=your-secret-key-change-in-production

# PostgreSQL Database URL
DATABASE_URL=postgresql://neondb_owner:npg_YjbBoyQ7gI8M@ep-red-butterfly-amb74pm5-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
